input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
    --clr-Grey: #a5a5a5;
    --clr-orange: #ff9f0a;
    --clr-Black: #343434;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #343434;

    margin: 0;
    padding: 0;
}

.Container{
    background-color: #000000;
    width: 300px;
    border-radius: 10px;
}

.Input p{
    height: 10px;
    width: 85%;
    background-color: transparent;
    color: white;
    text-align: end;

    font-size: 60px;
}

.Numbers{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    place-items: center;
    gap: 5px;
    padding: 2rem;
}

.Numbers button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-Black);
    font-size: 10px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Number button{
    color: white;
}

.Signal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-orange);
    font-size: 10px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Signal button{
    color: white;
}

.Top-Signal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-Grey);
    font-size: 10px;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Top-Signal button{
    color: black;
}

#zero{
    width: 100%;
    border-radius: 50px;
    grid-column: span 2;
}

#zero button{
    width: 100%;
    border-radius: 50px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
}

/* Iphone SE */

@media (max-width: 375px) {
    .Container{
        width: 100%;
        height: 100%;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .Numbers{
        height: 80%;
        gap: 10px;
    }

    .Number{
        width: 70px;
        height: 70px;
    }
    
    .Signal{
        width: 70px;
        height: 70px;
    }
    
    .Top-Signal{
        width: 70px;
        height: 70px;
    }
}

/* Iphone XR */

@media (max-width: 414px) {
    .Container{
        width: 100%;
        height: 100%;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .Numbers{
        height: 60%;
    }

    .Number{
        width: 70px;
        height: 70px;
    }
    
    .Signal{
        width: 70px;
        height: 70px;
    }
    
    .Top-Signal{
        width: 70px;
        height: 70px;
    }
}

/* Iphone SE */

@media (max-width: 390px) {
    .Container{
        width: 100%;
        height: 100%;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .Numbers{
        height: 60%;
        gap: 10px;
    }

    .Number{
        width: 70px;
        height: 70px;
    }
    
    .Signal{
        width: 70px;
        height: 70px;
    }
    
    .Top-Signal{
        width: 70px;
        height: 70px;
    }
}

/* Galaxy Fold */

@media (max-width: 280px) {
    .Container{
        width: 100%;
        height: 100%;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .Numbers{
        height: 60%;
        gap: 10px;
    }

    .Number{
        width: 70px;
        height: 70px;
    }
    
    .Signal{
        width: 70px;
        height: 70px;
    }
    
    .Top-Signal{
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 320px) {
    .Container{
        width: 100%;
        height: 100%;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .Numbers{
        height: 60%;
        gap: 10px;
    }

    .Number{
        width: 50px;
        height: 50px;
    }
    
    .Signal{
        width: 50px;
        height: 50px;
    }
    
    .Top-Signal{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 428px) {
    .Container{
        width: 100%;
        height: 100%;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .Numbers{
        height: 60%;
        gap: 10px;
    }

    .Number{
        width: 70px;
        height: 70px;
    }
    
    .Signal{
        width: 70px;
        height: 70px;
    }
    
    .Top-Signal{
        width: 70px;
        height: 70px;
    }
}